/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.hidden{
  display: none;
}

body{
  margin: auto 10px;
  background: rgb(32, 32, 35);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

button{
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px;
  color: white;
  cursor: pointer;
  width: 200px;
}

.top{
  height: 100px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
}

.tables{
  text-align: center;
  margin: 10px auto;
}

.middle{
  text-align: center;
  border-top: 1px solid white;
  margin-top: 30px;
  background-color: aliceblue;
  color: black;
}

.middle button{
  display: inline-block;
  border: 2px solid black;
  color: black;
  height: 40px;
  margin: 15px auto;
}

.camera-table{
  margin-bottom: 50px;
}

.bottom{
  text-align: center;
}

.rover-fax{
  text-align: center;
  border-bottom: 1px solid white;
}

.rover-fax section{
  margin-bottom: 40px;
}

.rover-fax img{
  width: 300px;
  border-radius: 10px;
}

.rover-fax h3{
  margin: 75px auto;
}

.rover-fax p, .tables p, .middle p{
  width: 75%;
  display: inline-block;
  text-align: center;
}

a{
  color: white;
}
footer{
  clear: both;
  display: flex;
  justify-content: space-evenly;
}

#githubLogo{
  font-size: 30px;
}

.curiosity-fax{
  background-color: aliceblue;
  color: black;
}

.spirit-fax{
  background-color: aliceblue;
  color: black;
}


.dropdowns{
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

/* main{
  text-align: center;
}

h1{
  text-align: center;
}

.camera-table{
  margin-bottom: 50px;
}

.camera-table, .date-table{
  text-align: center;
}

.tables{
  margin: 0 auto;
  display: flex;
}
*/

img{
  display: block;
  margin: 15px auto;
  width: 100%;
}

ul li{
  width: 30%;
  float: left;
  margin-left: 10px;
}

li{
  list-style: none;
  border: 2px solid black;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  margin: 5px auto;
  padding: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
}

.change-view{
  display: flex;
  flex-direction: column;
}

.change-view img{
  width: 80%;
}

.change-view li{
  flex: 1;
  width: 75%;
}
/*
nav{
  text-align: center;
} */

/* table */
table{
  border: 2px solid white;
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

td{
  border: 2px solid white;
}

tr{
  border: 2px solid white;
}

th{
  border-bottom: 2px solid white;
}


/* .curiosity-fax{
  display: flex;
}

.opportunity-fax{
  display: flex;
}

.spirit-fax{
  display: flex;
} */

/* grid layout */

.curiosity-fax, .opportunity-fax, .spirit-fax{
  height: auto;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: repeat(10%, auto);
}

.curiosity-fax img{
  grid-column: 1 / span 4;
  grid-row: 2;
}

.curiosity-fax p{
  grid-column: 6 /span 10;
  grid-row: 2;
}

.curiosity-fax h2, .spirit-fax h2{
  grid-column: 2;
}
.opportunity-fax h2{
  grid-column: 8;
}


.opportunity-fax img{
  grid-column: 6 /span 10;
  grid-row: 2;
}

.opportunity-fax p{
  grid-column: 2 /span 5;
  grid-row: 2;
}
.spirit-fax img{
  grid-column: 1 / span 4;
  grid-row: 2;
}

.spirit-fax p{
  grid-column: 6 /span 10;
  grid-row: 2;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 480px) {
  .top{
    height: 150px;
  }

  .dropdowns{
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 850px) {
  .rover-fax *{
    display: block;
  }
}